mat-card {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 1800px;
}

mat-table {
  width: 100%;
  overflow-x: auto;
}

mat-header-cell, mat-cell {
  padding: 0.5rem 1rem;
  min-width: 120px;
  text-align: center;
}

mat-header-row {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.mat-column-수수료 {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
}

.mat-column-선사,
.mat-column-출발지,
.mat-column-도착지,
.mat-column-20STD 운임,
.mat-column-40HC 운임,
.mat-column-운임 만료 {
  width: auto;
  flex: 1 1 0;
  min-width: 100px;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

@media (max-width: 1080px) {
  mat-header-cell, mat-cell {
    padding: 0.5rem 0.5rem;
    min-width: 80px;
  }
}